body
{
  color: rgb(57, 219, 219);
  background:floralwhite;
}
.heading{
    width: 80%;
    font-size: 22px;
}
.name_of_objects,#result_object_name,#result_object_accuracy
{
    color: rgb(216, 152, 241);
}
#camera
{
    border:2px dashed rgb(247, 139, 247);
    width: 350px;
    height: 300px;
}